* {
  margin: 0;
  padding: 0;

}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) 4fr;
  gap: 4px;
  grid-template-areas: "header header"
                       "sidebar nav"
                       "sidebar article"
                       "footer footer";
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  display: grid;
  background-color: #393f4d;
  align-items: center;
  grid-area: header;
}

.header .logo {
  text-align: left;
}
.menu {
  display: grid;
  grid-area: menu;
  grid-row: 1 / 1;
}

.menu ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  
} 

.menu li {
  gap: 10px;
  font-size: 16px;
  list-style-type: none
}

.sidebar {
  display: grid;
  grid-area: sidebar;
  gap: 50px;
  background-color: #C50208;
  text-align: center;
}

.sidebar .photo {
  display: grid;
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  align-items: center
}


.sidebar .side-content {
  display: grid;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  align-items: center
}

.nav {
  display: grid;
  grid-area: nav;
  background-color: #C50208;
}

.nav ul {
  display: grid;
  font-size: 16px;
  text-transform: uppercase;
  grid-template-columns: 1fr 1fr 1fr;
} 

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style-type: none
}

.nav ul li::marker {
  list-style-type: none;
}

.article {
  display: grid;
  grid-area: article;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  height: 200px;
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  grid-area: footer;
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}